.certificate-container{
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color: #1a1919;
    padding:20px;
    border-radius:10px;
    width:350px;
}
.certificate-img{
    display:flex;
    justify-content:center;
    padding:1rem 2rem;
    border-radius: 10px;
}
.certificate-img img{
    width:300px;
}
.certificate-title{
    display:flex;
    justify-content: center;
}
.cert-container{
    display:flex;
    justify-content: space-around;
    margin-bottom:100px;
    flex-wrap: wrap;
    gap:30px;
}
.cert-title{
    display: flex;
    justify-content: center;
    margin-bottom:100px;

}
.dates{
    display: flex;
    justify-content: end;
    font-size: small;
}
.job-desc{
    font-size: 17px;
}